/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
    background-color: yellow !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Cambia la fuente aquí */
    font-family: 'Dancing Script', cursive; 
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b363ac;
}

.container {
    width: 90%;          /* Ocupa el 90% del ancho del dispositivo */
    max-width: 500px;    /* Pero tiene un tope máximo para que no se vea gigante en PC */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container img {
    width: 100%;         /* Se ajusta al 100% de lo que permita el contenedor */
    height: auto;        /* Mantiene la proporción para no deformarse */
    border-radius: 20px;
    display: block;      /* Elimina espacios extra debajo de la imagen */
}

/* Estilo para la imagen estática */
.container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}

h1 {
    color: #050464; /* Cambié a blanco para que resalte en tu fondo morado */
    font-size: 3rem; /* Hazlo más grande para que luzca la tipografía */
    margin-bottom: 10px;
}

.container .btn {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.btn a {
    text-decoration: none;
    color: #6b6eff;
    background: #84ff6b; /* Un rosa más bonito */
    padding: 12px 30px;
    border-radius: 50px; /* Botones más redondeados */
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s, background 0.2s; /* Efecto suave al pasar el ratón */
}

/* Efecto al pasar el cursor sobre los botones */
.btn a:hover {
    transform: scale(1.1);
    background: #6bff72;
}